* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  body {
    background: linear-gradient(to bottom, #e9e7e7, #f5e9e9);
    font-family: "Inter", sans-serif;
    padding-top: 8vw;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccdcff;
    height: 8vw;
    padding: 0 2vw;
  }
  
  .logo {
    height: 100%;
    width: 140px;
  }
  
  ul {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  
  .a-nav {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding-bottom: 4px;
  }
  
  .a-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: black;
    transition: width 0.3s ease;
  }
  
  .a-nav:hover::after {
    width: 100%;
    background-color: grey;
  }
  
  .a-nav.active::after {
    width: 100%;
    background-color: black;
  }
  
  .botoes {
    border: none;
    background-color: #4d79ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
   height: 40px;
  width: 90px;
  }
  
  botoes:hover {
    background-color: #3355cc;
  }
  #container-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
 h1,h3 {
    text-align: center;
    margin-top: 2vw;
    color: #333;
  }
  .a-section {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

#section1, #section2, #section3, #section4, #section5{
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}
#section1:hover, #section2:hover, #section3:hover, #section4:hover, #section5:hover {
    background-color: #c5c3c3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s ease ease-out;
    transform: scale(1.02);
}
  
 
  
 
  